body{
    background: #EEEEEE;
}
.bg-full-height{
    height: 100vh;
    width: 100%;
    background: url("../img/bg-header-home-img.jpg") no-repeat center;
    background-size: cover;
}
.logo{
    width: 90px;
    height: 45px;
}
.navbar-toggler:focus{
    background: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler:active{
    background: none;
    border: none;
    box-shadow: none;
}
.fa-bars{
    font-size: 1.1em;
    color: #707070;
}
.fa-times{
    font-size: 1.1em;
    color: #707070;
}
.item-menu-icon{
    color: #4961CC;
    float: right;
    margin-right: 45%;
}
.profile-access-border{
    border: 1px solid #344591;
    border-radius: 12px;
}
.profile-access-border-dropdown{
    border-radius: 0px 0px 12px 12px;
}
.user-connected{
    font-size: 15px;
    margin-bottom: 5px;
}
.profile-name{
    color:  #4961CC;
}
.search-box{
    background: rgba(0, 0, 0, .55);

}
h1.first-title{
    font-size: 20px;
    font-weight: 400;
}
h2.second-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
}
button.fa-search{
    background: #4961CC;
    border-radius: 0 4px 4px 0; 
    border: 4px solid transparent;
    color: #FFF;
    font-size: 20px;
    margin-top: 15px;
    transition: .3s;
}
.input-group-prepend:hover{
    cursor: pointer;
}
#user-type{
    margin-top: 10px;
    width: 88%;
}
#search{
    margin-top: 15px;
    border-radius: 4px 0 0 4px;
}
.list-group{
    border-radius: 0;
    width: 85%;
}
.list-group-item{
    padding: 5px;
    border-radius: 0;  
    cursor: pointer;
    background: rgba(73, 97, 204, .70);
    color: white;
}

.scrollSpy{
    position: relative;
	overflow: auto;
    height: 80px;
}
option{
    font-size: 13px;
    cursor: pointer;
}
.register-button{
    background: #344591de;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    transition: .3s;
}
.register-button:focus,button.fa-search:focus {
    border: 1px rgba(73, 97, 204, .70) solid;
    color: white;
}