body{
    background: #EEEEEE;
}
/*BACKGROUND HEADER*/
.bg-full-height{
    background: url("../img/bg-header-home-img.jpg") no-repeat center fixed;
    background-size: cover;
}
/*LOGO*/
.logo{
    width: 90px;
    height: 45px;
}
/*ICON NAVBAR FOCUS*/
.navbar-toggler:focus{
    background: none;
    border: none;
    box-shadow: none;
}
/*ICON NAVBAR ACTIVE*/
.navbar-toggler:active{
    background: none;
    border: none;
    box-shadow: none;
}
/*ICON NAVBAR BARS*/
.fa-bars{
    font-size: 1.1em;
    color: #707070;
}
/*ICON NAVBAR X*/
.fa-times{
    font-size: 1.1em;
    color: #707070;
}
/*ICONS INSIDE THE MENU*/
.item-menu-icon{
    color: #4961CC;
    float: right;
    margin-right: 45%;
}
/*BUTTON USER ACCESS*/
.profile-access-border{
    border: 1px solid #344591;
    border-radius: 12px;
}
.profile-access-border-dropdown{
    border-radius: 0px 0px 12px 12px;
}
/*TEXT FOR CONNECTED USERS*/
.user-connected{
    font-size: 15px;
    margin-bottom: 5px;
}
/*TEXT INSIDE THE USER BUTTON*/
.profile-name{
    color:  #4961CC;
}
/*JUMBOTRON*/
.search-box{
    background: rgba(0, 0, 0, .55);

}
/*TITLES*/
h1.first-title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px; 
}
h2.second-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
}
/*SEARCH BUTTON*/
button.fa-search{
    background: #4961CC;
    border-radius: 0 4px 4px 0; 
    border: 4px solid #4961CC;
    color: #FFF;
    font-size: 20px;
    margin-top: 15px;
    transition: .3s;
}
/*RECOMMENDED SEARCHS*/
.input-group-prepend:hover{
    cursor: pointer;
}
#user-type{
    margin-top: 10px;
    width: 88%;
    margin-right: auto;
    margin-left: auto; 
}
#search{
    margin-top: 15px;
    border-radius: 4px 0 0 4px;
}
.list-group{
    border-radius: 0;
    width: 100%;
}
.list-group-item{
    padding: 8px;
    border-radius: 0;  
    cursor: pointer;
    background: rgba(73, 97, 204, .70);
    color: white;
    font-size: 18px;
}

.scrollSpy{
    position: relative;
	overflow: auto;
    height: auto;
    max-height: 86px;
}
option{
    font-size: 13px;
    cursor: pointer;
}
.register-button{
    background: #344591de;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 0 12px 0;
    border-radius: 20px;
    transition: .3s;
}
.register-button:focus,button.fa-search:focus {
    border: 1px rgba(73, 97, 204, .70) solid;
    color: white;
}
h2.h-medium{
    font-size: 23px;
    color: #707070;
    margin-top: 20px; 
}
hr.sub{
    width: 50px;
    border: 4px solid #344591; 
    border-radius: 10px;
    margin-top: 8px;
}
.card-carousel{
    border-color: transparent;
    border-radius: 5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .24);
    margin-bottom: 10px;
}
.carousel-item-title{
    font-size: 18px;
    color: #344591;
}
.carousel-item-subtitle{
    color: #707070;
    font-size: 17px;
}
.carousel-item-price{
    font-size: 23px;
    color: #344591;
    font-weight: 600;
}
.fadein {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    animation-name: fadein;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fadein {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fadein {
    from {opacity: .4} 
    to {opacity: 1}
}

.fadeout {
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 1.5s;
    animation-name: fadeout;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fadeout {
    from {opacity: 1} 
    to {opacity: .4}
}
  
@keyframes fadeout {
    from {opacity: 1} 
    to {opacity: .4}
}
@media (min-width:340px){
    h1.first-title{
        font-size: 22px;
        font-weight: 400;
    }
    h2.second-title{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .search-box{
        margin-top: 50px;
    }
    .register-button{
        margin-top: 80px;
        margin-bottom: 15px;
        font-size: 20px;
    }
}
@media (min-width:400px){
    h1.first-title{
        margin-top: 30px;
        font-size: 24px;
    }
    .search-box{
        padding-bottom: 50px;
    }
    h2.second-title{
        font-size: 26px;
    }
    .register-button{
        margin-top: 80px;
        margin-bottom: 25px;
        font-size: 22px;
    }
    #user-type{
        margin-top: 30px;
    }
    button.fa-search{
        border: 10px solid #4961CC;
    }
    .list-group-item{
        font-size: 20px;
    }
    .scrollSpy{
        max-height: 94px;
    }
}